<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <script defer src="/javascript/1351.js"></script>
    <title>Daily - Journal</title>
</head>
<body>
    <nav class="navbar">
        <a href="#" class="navlogo">DAILY JOURNAL</a>
        <ul class="list">
            <li><a href="/"><i style="font-size: 2.2rem;" class="fad fa-home"></i> <i style="font-size: 1.5rem;" class="fad fa-caret-down"></i></a></li>
            <li><a href="/about"><i style="font-size: 2.2rem;" class="fad fa-question-circle"></i></a></li>
            <li><a href="/contact"><i style="font-size: 2.2rem;" class="fad fa-phone-rotary"></i> <i style="font-size: 1.5rem;" class="fad fa-caret-down"></i></a></li>
            <li><a href="#"><i style="font-size: 2.2rem;" class="fad fa-search"></i></a></li>
        </ul>
    </nav>
