@font-face  {
    font-family: "HelveticaNowDisplay-Light.ttf";
    src: url(/font/HelveticaNowDisplay-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "HelveticaNowDisplay-Light.ttf";
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 13vh;
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 0 30px;
    background: rgb(176, 173, 216);
}

.list {
    display: flex;
    height: 100%;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
}

.list li {
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    transition: all 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.list li a:hover {
    opacity: 0.7;
}

.navlogo {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 3px;
    opacity: 0.7;
}

.wrapper {
    min-height: 150vh;
   padding: 20vh 0;
   background: rgb(235, 235, 240);
   display: flex;
   flex-direction: column;
   /* justify-content: space-around; */
   align-items: center;
}

.container {
    width: 60%;
    text-align: left;
    margin:20px;
    /* border: 1px solid red; */
    padding: 40px;
    background:rgba(182, 177, 209, 0.3);
    border-radius: 10px;
}

.container h1 {
    margin: 20px 0;
    color: rgb(65, 65, 65);
    /* text-transform: uppercase; */
    letter-spacing: 3px;
}

.container p {
    word-spacing: 5px;
    letter-spacing: 1px;
    text-align: justify;
    color: rgb(0, 0, 0);
    line-height: 1.8rem;
    /* font-weight: bold; */
    
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#blogtitle, #blogbody, #btn {
    margin: 10px;
    font-size: 1.1rem;
    padding: 8px 20px;
    border: 1px solid rgb(60, 60, 85,0.3);
    /* border: none; */
    border-radius: 5px;
    outline: none;
    /* background: rgb(225, 225, 233); */
}

#blogtitle, #blogbody {
    letter-spacing: 1px;

}

#btn {
    background:  rgb(153, 0, 255);
    color: white;
    border: none;
    cursor: pointer;
    padding: 13px 0;
    transition: all 0.2s ease;
}

#btn:hover {
    opacity: 0.8;
}

#btn:active {
   box-shadow: 0 0 0 5px rgb(153, 0, 255,0.2);
}


.composeH1 {
    position: relative;
    left: 10px;
    opacity: 0.7;
}

.composecont {
    background: rgba(182, 177, 209, 0.3);
    border-radius: 5px;
    box-shadow: 2px 3px 3px 0px rgba(182, 177, 209, 0.6),4px 5px 7px 0px rgba(182, 177, 209, 0.5);
}


.readMore {
    text-decoration: none;
    color: rgb(162, 0, 255);
    transition: all 0.3s linear;
}

.readMore:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: rgb(176, 173, 216);
    color: white;
    /* margin-top: 20px; */

}